@import 'src/App.module';

.generalContainer {
    margin: 22px;
    width: 175px;
    background: linear-gradient(0deg, #777, #ccc, #ccc);
    border-radius: 15px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 140px;
    height: 90px;
    @include no-select;
    margin-top: 20px;
    object-fit: contain;
}

.title {
    width: 100%;
    font-size: 22px;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
    padding: 15px 10px;
}

.titleWithoutTopPadding {
    @extend .title;
    padding: 0 15px 10px;
}

@media screen and (max-width: 480px) {
    .generalContainer {
        @include adaptiveWidth("width", 480, $minWidth, 175, 120, px, 1);
        @include adaptiveWidth("margin", 480, $minWidth, 15, 10, px, 1);
    }

    .image {
        @include adaptiveWidth("width", 480, $minWidth, 140, 90, px, 1);
        @include adaptiveWidth("height", 480, $minWidth, 90, 63.5, px, 1);
    }

    .title {
        @include adaptiveWidth("font-size", 480, $minWidth, 22, 20, px, 1);
    }
}
