@import '/src/App';

.generalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.separator {
    display: block;
    width: 2px;
    height: 200px;
    margin: 0 20px;
    background-color: var(--misc);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
}

.inputContainer {
    display: flex;
    margin-bottom: 30px;
}

.input {
    color: var(--text);
    font-size: 18px;
    font-family: "Lato", sans-serif;
    width: 100%;
    padding: 11px 20px;
    border-radius: 30px;
    background-color: var(--background_light);
    transition: .3s;
    border: 2px solid transparent;
    &:focus {
        border: 2px solid var(--primary);
    }
    &Left {
        margin-right: 15px;
    }
    &Right {
        margin-left: 15px;
    }
}

.textarea {
    color: var(--text);
    font-size: 18px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: var(--background_light);
    transition: .3s;
    border: 2px solid transparent;
    resize: none;
    &:focus {
        border: 2px solid var(--primary);
    }
}

.sendButton {
    color: var(--text);
    font-size: 25px;
    font-weight: 600;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.1;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--background_dark);
    border: 2px solid var(--primary);
    @include no-select;
    &:hover {
        border: 2px solid var(--primary_light);
        box-shadow: 0 0 13px 1px var(--primary);
        text-shadow: 0 0 15px var(--primary), 0 0 5px var(--primary);
    }
}