@import '/src/App';

.generalContainer {
    margin: 22px;
    width: 175px;
    background: linear-gradient(0deg, #777, #ccc, #ccc);
    border-radius: 15px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 90.5px; // float for correct displaying images
    height: 90.5px;
    @include no-select;
    margin-top: 20px;
}

.title {
    width: 100%;
    font-size: 22px;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;
    padding: 15px 10px;
}

@media screen and (max-width: 480px) {
    .generalContainer {
        @include adaptive-value("width", 480, 175, 120, px, 1);
        @include adaptive-value("margin", 480, 15, 10, px, 1);
    }

    .image {
        @include adaptive-value("width", 480, 90.5, 63.5, px, 1);
        @include adaptive-value("height", 480, 90.5, 63.5, px, 1);
    }

    .title {
        @include adaptive-value("font-size", 480, 22, 20, px, 1);
    }
}