@import '/src/App';

.generalContainer {
    margin: 15px;
    max-width: 270px;
    background: linear-gradient(0deg, #777, #ccc, #ccc);
    border-radius: 15px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 10px;
}

.title {
    font-size: 22px;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.2;
    margin-top: 15px;
}

.image {
    width: 90.5px; // for images
    height: 90.5px;
    @include no-select;
}

.descriptionContainer {
    width: 100%;
    padding: 5px 10px;
    border-top: 2px solid var(--primary);
}

.descriptionText {
    font-size: 16px;
}