@import '/src/App';

.generalContainer {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/bg.jpg");
    &:after {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: "";
        z-index: 10;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.photo {
    width: 13vw;
    height: 13vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 15vw;
    max-height: 15vw;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--misc);
    background-color: #fff;
    @include no-select;
    z-index: 20;
}

.firstLine {
    font-size: 56px;
    font-weight: 600;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.4;
    text-align: center;
    color: var(--text);
    margin-top: 30px;
    z-index: 20;
}

.secondLine {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    opacity: .66;
    color: var(--text);
    margin-top: 3px;
    z-index: 20;
}

.downloadButton {
    font-size: 24px;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.1;
    text-align: center;
    color: var(--text);
    text-shadow: 0 1px 3px #000;
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 7vh;
    z-index: 20;
    &:hover {
        box-shadow: 0 0 8px 4px var(--primary_light);
    }
}

.marginBlock {
    margin: 0;
}

@media screen and (pointer:coarse) {
    .marginBlock {
        margin: 55px 0;
    }

    .downloadButton {
        &:hover {
            box-shadow: none;
        }
        &:active {
            box-shadow: 0 0 8px 4px var(--primary_light);
        }
    }
}

@media screen and (max-width: 800px) {
    .firstLine {
        @include adaptive-value("font-size", 800, 56, 25, px, 1);
    }

    .secondLine {
        @include adaptive-value("font-size", 800, 24, 15, px, 1);
        @include adaptive-value("margin-top", 800, 12, 6, px, 1);
    }

    .downloadButton {
        font-size: 20px;
        padding: 8px 14px;
    }
}

@media screen and (max-width: 360px) {
    .photo {
        @include adaptive-value("min-width", 360, 200, 180, px, 1);
        @include adaptive-value("min-height", 360, 200, 180, px, 1);
    }
}