@import 'src/App.module';

.componentWrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 50;
    background-color: var(--background);
    bottom: 0;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 80px;
}

@media screen and (max-width: 800px) {
    .contentContainer {
        @include adaptiveWidth("height", 800, $minWidth, 80, 50, px, 1);
    }
}
