@import 'src/App.module';

.itemContainer {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-family: "Lato", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
@media (pointer:coarse) {
  .itemContainer:active {
    background-color: var(--primary_medium);
  }
}
@media (pointer:fine) {
  .itemContainer:hover {
    background-color: var(--primary_medium);
  }
  .itemContainer:active {
    background-color: var(--primary);
  }
}

.itemText {
  position: relative;
  color: var(--text);
  padding-bottom: 3px;
  @include no-select;
}

@media screen and (max-width: 800px) {
  .itemContainer {
    @include adaptiveWidth("font-size", 800, $minWidth, 26, 20, px, 1);
    @include adaptiveWidth("padding-left", 800, $minWidth, 30, 8, px, 1);
    @include adaptiveWidth("padding-right", 800, $minWidth, 30, 8, px, 1);
  }
}
