@import '/src/App';

.generalContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 50;
    background-color: var(--background);
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 80px;
}

.itemContainer {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: "Lato", sans-serif;
    padding: 0 30px;
    //line-height: 1.2;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &:hover {
        background-color: var(--background_dark);
    }
    &Active {
        border-bottom: 3px solid var(--primary);
    }
}

.itemText {
    position: relative;
    color: var(--text);
    padding-bottom: 3px;
    @include no-select;
}