@import '/src/App';

.generalContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 50;
    background-color: var(--background);
    bottom: 0;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 80px;
}

.itemContainer {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
@media (pointer:coarse) {
    .itemContainer:active {
        background-color: var(--primary_medium);
    }
}
@media (pointer:fine) {
    .itemContainer:hover {
        background-color: var(--primary_medium);
    }
    .itemContainer:active {
        background-color: var(--primary);
    }
}

.itemText {
    position: relative;
    color: var(--text);
    padding-bottom: 3px;
    @include no-select;
}

@media screen and (max-width: 800px) {
    .itemContainer {
        @include adaptive-value("font-size", 800, 26, 20, px, 1);
        @include adaptive-value("padding-left", 800, 30, 8, px, 1);
        @include adaptive-value("padding-right", 800, 30, 8, px, 1);
    }
    .contentContainer {
        @include adaptive-value("height", 800, 80, 50, px, 1);
    }
}